# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/

# Django
staticfiles/
media/
*.db

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Firebase service account (secrets)
secrets/
