Django>=5.0,<5.1
djangorestframework>=3.15,<3.16
django-cors-headers>=4.3,<4.4
django-filter>=24.1,<24.2
djangorestframework-simplejwt>=5.3,<5.4
django-environ>=0.11,<0.12
drf-spectacular>=0.27,<0.28
celery>=5.4,<5.5
django-celery-beat>=2.6,<2.7
redis>=5.0,<5.1
django-redis>=5.4,<5.5
gunicorn>=22.0,<22.1
psycopg2-binary>=2.9,<2.10
Pillow>=10.3,<10.4
python-decouple>=3.8,<3.9
twilio>=9.0,<10.0
